@{
    ViewData["Title"] = "Captura de Transacciones";
}
<div class="card-wrapper"></div>
<div class="form-container active">
    <form id="form1" name="CredomaticPost" method="post" action="https://credomatic.compassmerchantsolutions.com/api/transact.php">
        <input type="hidden" name="type" id="type" />
        <input type="hidden" name="key_id" id="key_id" />
        <input type="hidden" name="hash" id="hash" />
        <input type="hidden" name="time" id="time" />
        <input type="hidden" name="amount" id="amount" />
        <input type="hidden" name="orderid" id="orderid" />
        <input type="hidden" name="processor_id" id="processor_id" />
        <input placeholder="Número de Tarjeta" type="tel" id="number" name="ccnumber" />
        <input placeholder="Nombre Tarjeta" type="text" id="name" name="name" />
        <input placeholder="MM/YY" type="tel" id="expiry" name="ccexp" />
        <input placeholder="CVV" type="text" maxlength="4" id="cvc" name="cvv" />
        <input type="hidden" name="redirect" id="redirect" />
        <button type="button" onclick="enviar()">Pagar</button>
    </form>
</div>